#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can't match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, … of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

pandoc_formats = ["org", "md", "markdown"]

preprocess do
  create_github_cname
  create_sitemap
end

# Don't filter or layout assets, cname.
compile %r{^/(cname|assets)} do
end

compile %r{/sitemap/} do
  filter :erb
end

compile %r{/posts/*} do
  filter :erb
  filter :pandoc_html if pandoc_formats.include?(item[:extension])
  layout 'post'
  layout 'panel'
  layout 'default'
end

compile %r{/about/|/wiki/} do
  filter :erb
  layout 'default'
end

if @config[:generate_pdf]
  compile %r{/posts/*}, :rep => :pdf do
    filter :pandoc_pdf
  end
end

compile '*' do
  if item.binary?
    # don't filter binary items
  else
    pandoc_formats = ["org", "md", "markdown"]
    filter :erb
    filter :pandoc_html if pandoc_formats.include?(item[:extension])
    layout 'panel'
    layout 'default'
  end
end

route '/cname/' do
  '/CNAME'
end

route '/sitemap/' do
  item.identifier.chop + '.xml'
end

route '/assets/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/posts/*' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures

  "/#{y}/#{m}/#{d}/#{slug}/index.html"
end

if @config[:generate_pdf]
  route '/posts/*/', :rep => :pdf do
    item.identifier.chop + '.' + 'pdf'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
