@charset "UTF-8";
/* Some mixins */
/* Basic style for some HTML elrements */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: url("/static/image/common/squairy_light.png") !important;
  background-repeat: repeat !important; }

footer {
  margin: 1rem 0; }
  footer.center.aligned p {
    text-align: center; }
  footer.ui.vertical.segment {
    padding: 2rem 0; }

ul,
ol {
  padding-left: 2rem; }

p {
  line-height: 1.5rem; }
  [lang='cn'] p {
    text-align: justify; }

/* blockquote styles comes from bootstrap */
blockquote {
  padding: 0.6rem 1rem 0.4rem;
  margin: 0 0 0.8rem;
  border-left: 3px solid #009fda; }
  blockquote p {
    line-height: 1.2rem;
    margin-bottom: 0.3rem;
    text-align: start !important; }
    blockquote p:last-child {
      margin-bottom: 0; }
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #999;
    padding: 0; }
  blockquote footer:before,
  blockquote small:before,
  blockquote .small:before {
    content: "— "; }
  blockquote cite:before {
    content: "«"; }
  blockquote cite:after {
    content: "»"; }

img {
  width: 100%; }
  img.logo {
    width: 200px;
    margin: 3rem 0 1rem; }
  img.cc-license {
    height: 100%;
    width: 8em;
    margin-top: 0.5em; }

/* Styles for semantic-ui elrements */
.ui.vertical.stripe.segment {
  padding: 4rem 0; }
  .ui.vertical.stripe.segment:nth-of-type(even) {
    background-color: rgba(128, 128, 128, 0.08); }

.ui.menu {
  box-shadow: none;
  margin-bottom: 0;
  -moz-font-feature-settings: "smcp" 0, "onum" 0;
  -ms-font-feature-settings: "smcp" 0, "onum" 0;
  -o-font-feature-settings: "smcp" 0, "onum" 0;
  -webkit-font-feature-settings: "smcp" 0, "onum" 0;
  font-feature-settings: "smcp" 0, "onum" 0; }
  .ui.menu form {
    font-size: 14px; }
  .ui.menu input {
    -moz-font-feature-settings: "smcp" 0, "onum" 0;
    -ms-font-feature-settings: "smcp" 0, "onum" 0;
    -o-font-feature-settings: "smcp" 0, "onum" 0;
    -webkit-font-feature-settings: "smcp" 0, "onum" 0;
    font-feature-settings: "smcp" 0, "onum" 0;
    font-size: 14px; }

.ui.progress {
  margin: 1rem 0; }
  .ui.progress .ui.label {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem; }

.ui.article.segment {
  font-feature-settings: "onum" 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
  margin: 1.5rem 0 2.5rem 0;
  padding-top: 2rem; }
.ui.article > .ui.grid > .row.article-head {
  padding-top: 1.5rem; }
.ui.article > .ui.grid > .row.article-body {
  padding-top: 0rem; }
  .ui.article > .ui.grid > .row.article-body .ui.vertical.segment:first-child {
    padding-top: 0; }
  .ui.article > .ui.grid > .row.article-body .ui.vertical.segment:last-child {
    padding-bottom: 0; }
  .ui.article > .ui.grid > .row.article-body .ui.vertical.segment {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .ui.article > .ui.grid > .row.article-body > aside {
    display: table; }
    .ui.article > .ui.grid > .row.article-body > aside > .ui.header {
      margin-bottom: 0.2rem; }
    .ui.article > .ui.grid > .row.article-body > aside > .ui.list {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }

/* Enable smallcaps and oldstyle-number OpenType features for English */
[lang='en'] {
  -moz-font-feature-settings: "smcp" 0, "onum" 0;
  -ms-font-feature-settings: "smcp" 0, "onum" 0;
  -o-font-feature-settings: "smcp" 0, "onum" 0;
  -webkit-font-feature-settings: "smcp" 0, "onum" 0;
  font-feature-settings: "smcp" 0, "onum" 0; }

/* Disable smallcaps and oldstyle-number OpenType features for Chinese */
[lang='cn'] {
  -moz-font-feature-settings: "smcp" 0, "onum" 0;
  -ms-font-feature-settings: "smcp" 0, "onum" 0;
  -o-font-feature-settings: "smcp" 0, "onum" 0;
  -webkit-font-feature-settings: "smcp" 0, "onum" 0;
  font-feature-settings: "smcp" 0, "onum" 0; }

/* TeX and LaTeX Logo in HTML */
.tex sub {
  text-transform: uppercase;
  top: auto;
  bottom: auto; }

.latex sub,
.latex sup {
  text-transform: uppercase;
  top: auto;
  bottom: auto; }

.tex sub,
.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667rem;
  margin-right: -0.125rem; }

.tex,
.latex,
.tex sub,
.latex sub {
  font-size: 1rem; }

/* disqus comment div */
#disqus_thread {
  margin-top: 2rem; }

@media only screen and (max-width: 767px) {
  .ui.menu .item.desktop-only {
    display: none; }

  .ui[class*="padded"].segment {
    padding: 1.5rem; }

  .ui.grid .ui.stackable.grid {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
caption,
figcaption {
  text-align: center;
  font-family: "Linux Libertine", Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW-Kai", serif; }
