---
title: Archives
---

<link href="/assets/css/timeline.css" rel="stylesheet"/>

<ul class="timeline">
  <% sorted_articles.each_with_index do |post, index| %>
  <% if index.even? %>
  <li>
  <% else %>
  <li class="timeline-inverted">
  <% end %>
    <div class="timeline-badge primary">
      <a><i class="glyphicon glyphicon-record" rel="tooltip" title="<%= get_date post[:created_at] %>"></i></a>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3>
          <%= link_to post[:title].titleize, post.path %>
          <small class="align-right"><%= get_date post[:created_at] %></small>
        </h3>
      </div>
      <div class="timeline-body">
        <p><%= post[:abstract] %></p>
      </div>
      <div class="timeline-footer">
        <p>
          <span class="align-left">
          Categories:
          <% post[:categories].each do |category| %>
          <%= link_attribute(:categories, category, false) %>
          <% end %>
          </span>
          &nbsp;
          <span class="align-right">
          Tags:
          <% post[:tags].each do |tag| %>
          <%= link_attribute(:tags, tag, false) %>
          <% end %>
          </span>
        </p>
      </div>
    </div>
  </li>
  <% end %>
  <li class="clearfix" style="float: none;"></li>
</ul>
