---
title: Categories
---

<div class="post-list">
  <article class="col-sm-9">
    <% articles_by_attribute(:categories).each do |category, post_list| %>
    <section>
      <h3 id=<%= category.downcase %>>
        <%= category %>
        <span><%= post_list.length %><span>
      </h3>
      <ul>
        <% post_list.each do |post| %>
        <li><%= link_to post[:title].titleize, post.path %></li>
        <% end %>
      </ul>
    </section>
    <% end %>
  </article>

  <aside class="col-sm-3">
    <ul class="nav nav-pills nav-stacked" role="menu">
      <% all_attributes(:categories).each do |category| %>
      <li role="presentation">
        <%= link_attribute(:categories, category) %>
      </li>
      <% end %>
    </ul>
  </aside>
</div>
