<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie6 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie7 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie8 lte8 lte9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie9 lte9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @item[:title] %> &bull; <%= @site.config[:meta_data][:title] %></title>
    <meta name="keywords" value="<%= @site.config[:meta_data][:keywords] %>">
    <meta name="description" value="<%= @site.config[:meta_data][:description] %>">
    <meta name="copyright" value="<%= @site.config[:meta_data][:copyright] %>">
    <meta name="author" value="<%= @site.config[:meta_data][:author] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="alternate" title="<%= @site.config[:meta_data][:title] %> Atom feed"  type="application/atom+xml" href="<%= @site.config[:feed_url] %>">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/assets/css/stanley.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script> -->
  </head>
  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= @site.config[:meta_data][:title] %>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/archive/index.html">Archive</a></li>
            <li><a href="/categories/index.html">Categories</a></li>
            <li><a href="/tags/index.html">Tags</a></li>
            <li><a href="/wiki/index.html">Wiki</a></li>
            <li><a href="/about/index.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- content -->
    <div class="white">
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= @item[:title] %></h4>
          </div>
          <div class="panel-body">
            <%= yield %>

            <hr>

            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>

        <script type="text/javascript">
         /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
         var disqus_shortname = '<%= @site.config[:disqus][:username] %>'; // required: replace example with your forum shortname

         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        <div class="row">
		  <div class="col-lg-6">
			<h4>Links</h4>
			<p>
			  <a href="#">Github</a><br/>
			  <a href="#">Douban</a>
			</p>
		  </div><!-- /col-lg-6 -->

		  <div class="col-lg-6">
			<h4>About <%= @site.config[:meta_data][:title] %></h4>
            <p class="text-muted">Copyright © Xiao Hanyu 2014 - Powered by <a href="http://nanoc.ws/">Nanoc</a></p>
		  </div><!-- /col-lg-6 -->
        </div>
      </div>
    </footer>

    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <script src="/assets/lib.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="/assets/js/default.js">
    </script>
  </body>
</html>
