.ui.inverted.teal.vertical.center.aligned.segment
  .ui.container
    p Xiao Hanyu 2014 - Powered by <a href="http://nanoc.ws/">Nanoc</a>, <a href="http://johnmacfarlane.net/pandoc/">Pandoc</a> - Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>

script src="/static/dist/semantic.min.js"
script src="/static/javascript/index.js"
