<div class="row">
  <article class="col-sm-9 post">
    <%= yield %>

    <hr>

    <ul class="pager">
      <li class="previous"><a href="#">&larr; Older</a></li>
      <li>
        <a id="show_disqus_comments" onclick='toggle_disqus()'>Show Disqus Comments</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <script type="text/javascript">
     function toggle_disqus (event) {
       $.ajaxSetup({cache:true});
       $.getScript("http://<%= @site.config[:disqus][:username] %>.disqus.com/embed.js");
       $.ajaxSetup({cache:false});
       setTimeout(function () {
         $("#show_disqus_comments").fadeOut(3000);
       }, 1000);
     }
    </script>



  </article>

  <aside class="col-sm-3">
    <h4>Published</h4>
    <date><%= get_date @item[:created_at] %></date>

    <h4>Categories</h4>
    <ul class="tag-box">
      <% @item[:categories].each do |category| %>
      <li><%= link_attribute(:categories, category) %></li>
      <% end %>
    </ul>

    <h4>Tags</h4>
    <ul class="tag-box">
      <% @item[:tags].each do |tag| %>
      <li><%= link_attribute(:tags, tag) %></li>
      <% end %>
    </ul>
  </aside>
</div>
